
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');



//custom things//

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #eaeaea; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #131311; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B28DFF; 
}


/* aimations */
body {
    animation: fadeInAnimation ease-in-out 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-color: #B28DFF;
    }
    100% {
        opacity: 1;
    }
}


//general styles//

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    scroll-behavior: smooth;
    
}

body {

    overflow-x: hidden;
    height: 100vh;
    color: #131311;
    background-color: #eaeaea;

    text-align: left;
    font-family: 'inter';

    
    cursor: crosshair;
}

::selection {
    color: #eaeaea;
    background:#131311;
}



//actual styles//

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #131311;
}


//landing page style//

.landing-page-sec {

    background-color: #B28DFF;
    height: 824px;
    width: 100vw;

    header {

        padding: 16px;
    
    
        display: flex;
        justify-content:space-between;
    
        font-size: 12px;
    
        .info-short {
    
            width: 146px;
            color: #131311;
            font-size: 12px;
            line-height: 24px;
        }
    
    }
    
    
    
    .hero {
    
        margin-top: 480px;
        margin-left: 16px;
    
        h1 {
            
            width: 312px;
            height: 64px;
            font-size: 24px;
            font-weight: 400;
        }
        
        .typewrite {
            font-style: italic;
        }
        
        .bracket {
            font-style: italic;
        }
    
    }
    
    
    .links-landing-page {
        margin-top: 64px;
        margin-left: 16px;
        font-size: 12px;
    
        display: flex;
        justify-content: space-between;
    
        a {
            padding-right: 16px;
        }
    }

}


//about me//

.about-me {
    margin: 16px;
    margin-top: 72px;

    p {
        margin-top: 24px;
    }
}


//featured project//

.featured-project {
    margin-top: 144px;
    margin-bottom: 56px;

    a:link, a:visited {
        width: 100vw;
        height: 224px;
        margin: 0px;
        padding: 24px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: -1px;
        box-sizing: border-box;
        background-color: #eaeaea;
        color: #131311;
        display: inline-block;
        transition: ease-in-out 0.1s;

        border: 1.5px solid #131311;
        border-left: none;
        border-right: none;
    
        h2 {
            font-size: 12px;
            background: none;
        }

        h1 {
            margin-top: 48px;
            line-height: 48px;
        }
    
        p {
            font-size: 12px;
            background: none;
        }
    
    }
    
    a:hover, a:active {
        color: #eaeaea;
      background-color: #131311;
    }

}


//social links//

.say-hello {
    margin-top: 144px;

    h1 {
        font-size: 24px;
        margin-bottom: 40px;
        margin-left: 16px;
        text-transform: uppercase;
    }

    .social-links {
        font-size: 12px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
    }

    a:link, a:visited {
        width: 100vw;
        padding-left: 16px;
        margin-bottom: -1px;

        color: #131311;
        text-decoration: none;
        display: inline-block;

        box-sizing: border-box;
        border: 1.5px solid #131311;
        border-left: none;
        border-right: none;
        
      }

      a:hover, a:active {
          color: #eaeaea;
          background-color: #131311;
      }
}

//footer//

.footer {
    
    margin-top: 360px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;

    font-size: 12px;
    line-height: 24px;
}




//tablet responsiveness// 

@media only screen and (min-width:768px) {

    body {

        overflow-x: hidden !important;
    }

    .landing-page-sec {

        height: 1040px !important;
        width: 100vw;

        header {

            border: 1.5px solid #131311;
            border-left: none;
            border-right: none;
        }
    
        .hero {
    
            margin-top: 624px;
            margin-left: 16px;
        
            h1 {
                margin: 0px !important;
                width: 500px !important;
                height: 80px !important;
                font-size: 32px !important;
                font-weight: 400;
            }
            
            .typewrite {
                font-style: italic;
            }
            
            .bracket {
                font-style: italic;
            }
        
        }
    
        .links-landing-page {
            margin-top: 80px;
            margin-left: 16px;
            font-size: 12px;
        
            display: flex;
            justify-content: space-between;
        
            a {
                padding-right: 16px;
            }
        }

    }

    //about me//

    .about-me {
        margin: 16px;
        margin-top: 144px;
    
        p {
            margin-top: 24px;
        }
    }


}




//desktop responsiveness// 

@media only screen and (min-width:1050px) {

    .landing-page-sec {

        height: 1040px !important;
        width: 100vw;

        header {

            font-size: 16px !important;

            border: 1.5px solid #131311;
            border-left: none;
            border-right: none;

            padding: 40px;

            .info-short {
                width: 300px;
                font-size: 16px;
                line-height: 32px;
            }
        }
    
        .hero {
    
            margin-top: 464px !important;
            margin-left: 40px;
        
            h1 {
                margin: 0px !important;
                width: 1600px !important;
                height: 176px !important;
                font-size: 80px !important;
                font-weight: 400;
            }
            
            .typewrite {
                font-style: italic;
            }
            
            .bracket {
                font-style: italic;
            }
        
        }
    
        .links-landing-page {
            margin-top: 64px;
            margin-left: 40px;
            font-size: 16px;

        
            a {
                padding-right: 40px;
            }
        }

    }


    //about me//

    .about-me {
        margin: 40px;
        margin-top: 144px;

        h2 {
            font-size: 16px;
        }
    
        p {
            font-size: 24px;
            line-height: 56px;
            margin-top: 40px;
        }
    }


    //featured project//

    .featured-project {
        margin-top: 144px;
        margin-bottom: 56px;
        
    
        a:link, a:visited {
            width: 100vw;
            height: 324px;
            margin: 0px;
            padding: 40px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: -1px;
            box-sizing: border-box;
            background-color: #eaeaea;
            color: #131311;
            display: inline-block;
            transition: ease-in-out 0.1s;
    
            border: 1.5px solid #131311;
            border-left: none;
            border-right: none;
        
            h2 {
                font-size: 16px;
                background: none;
            }
    
            h1 {
                font-size: 40px;
                margin-top: 104px;
                line-height: 56px;
            }
        
            p {
                font-size: 16px;
                line-height: 40px;
                margin-top: 16px;
                background: none;
            }
        
        }
        
        a:hover, a:active {
            color: #eaeaea;
          background-color: #131311;
        }
    
    }


    //social links//

    .say-hello {
        margin-top: 264px;
    
        h1 {
            font-size: 40px;
            margin-bottom: 40px;
            margin-left: 40px;
            text-transform: uppercase;
        }
    
        .social-links {
            font-size: 24px;
            font-weight: 400;
            line-height: 56px;
            text-transform: uppercase;
            
        }
    
        a:link, a:visited {
            width: 100vw;
            padding-left: 40px;
            margin-bottom: -1px;
    
            color: #131311;
            text-decoration: none;
            display: inline-block;
    
            border: 1.5px solid #131311;
            border-left: none;
            border-right: none;
            
        }
    
        a:hover, a:active {
              color: #eaeaea;
              background-color: #131311;
        }

          
    }
    

    //footer//@

    .footer {
    
        margin-top: 400px;
        margin-left: 40px;
        margin-right: 16px;
        padding-bottom: 16px;
    
        font-size: 16px;
        line-height: 32px;

        .footer-info {
            width: 400px;
        }
    }

}


